* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header {
    /* background-color: #a5940096; */
    background-image: url(../images/banner-background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(82, 25, 25);
}

.logo img {
    width: 2em;
    padding-right: 10px;
}

.nav-bar {
    padding: 10px;
    text-align: right;

}

.nav-bar ul {
    text-decoration: none;
    list-style: none;
    margin-left: auto;
}

.nav-bar ul li {
    margin: auto;
    display: inline;
    padding: 10px;

}

.nav-bar ul li a {
    text-decoration: none;
    color: rgb(82, 25, 25);
    font-weight: bolder;
    padding: 10px;

}

.nav-bar ul li a:hover {
    background-color: crimson;
    color: white;
    padding: 5px 10px;

}

.express-delivery {
    padding: 0 20px;
    color: rgb(82, 25, 25);
    font-weight: bolder;
}



.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2%;
}

.banner-heading {}

.banner-heading div>h1 {
    font-size: 10em;
    color: rgb(82, 25, 25);
}

.banner-heading div>h2 {
    font-size: 6em;
    color: rgb(82, 25, 25);
    padding-left: 10px;
}

.banner-image {
    margin: auto;
}

.banner-image img {
    display: inline-block;
    width: 100%;
    height: 30em;
    border-radius: 100%;
    padding: 35px;
}

.featured-burger>h1 {
    font-size: 3em;
    color: rgb(82, 25, 25);
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5%;
    column-gap: 5%;
    padding: 2%;
    height: 30em;
    box-sizing: border-box;
}

.container div {
    color: #fff;
    text-align: left;
    padding: 1%;
    border-radius: 15px;
}

.block1 h1 {
    font-size: 3em;
}

.block1 {
    grid-row: 1 / 5;
    grid-column: 1 / 3;
    background-image: url(../images/most-popular_50.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.block2 {
    grid-row: 1 / 3;
    grid-column: 3 / 3;
    background-image: url(../images/more-fun_50.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.block3 {
    grid-row: 3 / 5;
    grid-column: 3 / 3;
    background-image: url(../images/fresh-chill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-title {
    text-align: center;
}

.menu h4 {
    display: inline-block;
    font-weight: 900;
    color: rgb(82, 25, 25);
    background-color: #a5940096;
    padding: 0.5%;
}

.menu-header {
    text-align: center;
    padding: 1%;
}

.menu-header h1 {
    font-size: 3em;
    color: rgb(82, 25, 25);
}

.menu-intro {
    width: 75%;
    text-align: center;
    color: rgb(82, 25, 25);
    margin: 0 auto;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
}

.single-menu {
    text-align: center;
    width: 330px;
    padding: 3%;
    height: 100%;
    box-shadow: 2px 2px 40px #f2f2f2;
    margin: 0 auto;
}

.menu-image img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}

.menu-button a {
    display: inline-block;
    text-decoration: none;
    margin-top: 3%;
    color: whitesmoke;
    padding: 1% 10%;
    background-color: rgb(82, 25, 25);
    border-radius: 10px;
}

.event {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2%;
    margin: 3% auto;
    box-shadow: 2px 2px 20px rgba(165, 42, 42, 0.5);
}

.event-detail {
    padding: 3%;
}

.event-detail h1 {
    font-size: 3em;
    color: rgb(82, 25, 25);
}

.event-detail p {
    color: rgb(82, 25, 25);
}

.event-image img {
    width: 100%;
    margin-left: auto;
    border-radius: 10px;
}

.reservation {
    margin: auto;
    width: 50%;
}


.reservation h1 {
    font-size: 3em;
    color: rgb(82, 25, 25);
    text-align: center;
}

form {
    display: flex;
    padding: 2%;
    width: 100%;
    margin: auto;
}

.form1 {
    padding-right: 2%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(82, 25, 25);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}